.formmeasure{
    align-items: center;
    justify-self: center;
}
 
.imgmeasure{
   
    width: 70px;
    height: 100px;
     

}  
.pagemeasure{
    height: 10cm;
    width: 15cm;

    justify-content: center;     /* Horizontally center content */
    align-items: center; 
} 
.buttonmeasure{
    height: 45px;
    width: 13cm;
}

.forsign{
    color: wheat;
}
.container {
    display: flex;                
    width: 110vw;      /* 100% of viewport width */
    height: 100vh;  
    background: blanchedalmond;   
  }
  
  .colours{
     width: 18cm;
    height: 12cm;
    background-color: #ffffffec !important;
  }
  .p-1{
    padding: 1cm;
  }

  @media (min-width: 1280px) {
    .container {
        max-width:1365px; /* or remove the property */
    }
}

.formsize{
    width: 10cm;
}