<div class="header ">
  <div>
    <img class="imgmeasure" src="/assets/logo2.png" alt="image">

  </div>
  <div class="flex ml-2">
    <div class="usericon"><mat-icon class="icon text-black">notifications</mat-icon></div>
    <div class="usericon"><mat-icon class="icon text-black">person</mat-icon></div>
  </div>

</div>

<!-- <div class="drawer">

    <div class="drawericon"><mat-icon class="icon text-black">notifications</mat-icon></div>
    <div class="drawericon"><mat-icon class="icon text-black">person</mat-icon></div>
 
    
  </div> -->