<div class="dialog-content shadow-md">
    <h2 class="success-title">Forgot Password</h2>

    <p class="success-message">Please enter your email and click "Get Link." If your email is registered, a password reset link will be sent to you.</p>

    <form class="formmeasure ">
        <mat-form-field class="formsize">
            <mat-icon matPrefix>person</mat-icon>
            <input matInput id="username" type="text" placeholder="Enter your Mail"   />
          </mat-form-field>
   </form>

<div>
    
    <button mat-buttons class=" formsize h-10 bg-blue-500 hover:bg-blue-600 text-white font-semibold font-serif rounded focus:outline-none focus:shadow-outline" type="button" >
       Get Link
      </button>
</div>
  </div>
  