.dialog-content {
    padding: 20px;
    text-align: center;
   }
   .success-title {
    color: rgb(204, 17, 11);
    margin-bottom: 10px;
  }
  
  .success-message {
    margin-bottom: 20px;
  }
  
  .formmeasure{
    align-items: center;
    justify-self: center;
}
.formsize{
    width: 10cm;
}