<div class="container  items-center justify-center">
    <!-- <div class="pagemeasure flex items-center justify-center bg-white"> -->
    <div class="colours p-1 items-center justify-center rounded shadow-md">
     <div class="flex flex-col items-center">
      <img class="imgmeasure mb-4" src="/assets/logo.png" alt="image">
      <h2 class="text-2xl text-white font-semibold mb-6 text-center">Visitor Management System</h2>
     </div>
  
      <!-- Login form -->
      <form class="formmeasure ">
        <div class="flex flex-col items-center justify-center">
        <mat-form-field class="-mb-5 formsize">
          <mat-icon matPrefix>person</mat-icon>
          <input matInput id="username" type="text"   />
        </mat-form-field>
  
        <mat-form-field class="-mb-4 formsize">
          <mat-icon matPrefix>lock_open</mat-icon>
          <input matInput id="password"  type="password"   />
        </mat-form-field>
  
        <button mat-buttons class=" formsize h-10 bg-red-500 hover:bg-red-600 text-white font-bold rounded focus:outline-none focus:shadow-outline" type="button" >
          LOG IN
        </button>

      </div>
      </form>
  
     
      <div class="mt-8 flex items-center justify-center">
        <button
          class="mr-20 text-sm forsign hover:underline  "
          type="button"
        >
          FORGOT PASSWORD
        </button>
        <button
          class="text-sm ml-20 forsign hover:underline "
          type="button" (click)="navigateToCreateAccount()"
        >
        NOT ACCOUNT? SIGN UP
        </button>
      </div>
    </div>
  </div>
<!-- </div> -->